@value mediaQuery from '../../common/size.css';
@value makerWhite, makerGreen from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.title {
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
