@value makerLightGrey, makerGreen from '../../common/colors.css';
@value mobileQuery from '../../common/size.css';

.comments {
  flex-basis: 100%;
  overflow-y: auto;
  padding: 0 3em;
}

.title {
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

.comment {
  width: 100%;
  height: 100%;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: mobileQuery) {
  .comment {
    padding: 0.5em 0;
  }
}
