@charset "utf-8";

/* 공통 레이아웃 */
#mNav {display: none; position: absolute; top: 6px; left: 14px; padding: 10px 0; z-index: 99999;}
#header {width: 100%; height: 80px; border-bottom: 1px solid #dbdbdb; background: rgba(0,0,0,0);}
#nav {width: 100%; height: 57px; border-bottom: 1px solid #dbdbdb; background: rgba(0,0,0,0);}
#footer {background: #fafafa;}

/* index 레이아웃 */
#section {position: relative; height: 597px;}
#shortcut {position: relative; height: 170px;}
#review {}

/* member 레이아웃 */
#section1 {width: 100%; height: auto;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0);}
.side_container {padding: 13px 0; border-bottom: 1px solid #ededed;}

/* 로우 영역 */
.row {padding: 0 24px;}
.side_row {padding: 20px;}

/* 모바일 메뉴 */
#mNav .close {padding: 7px 8.5px 10px; background: #fff;}

/* 헤더 영역 */
.header .logo {position: static; float: left;}
.header .logo h1 {}
.header .logo h1 a {}
.header .logo h1 a em {padding: 11px 20px 0 0; display: inline-block;}
.header .logo h1 a em img {width: 120px;}
.header .nav {float: left;}
.header .nav ul {position: relative;}
.header .nav ul li {position: relative; float: left; width: 100px; text-align: center; padding: 26px 0;}
.header .nav ul li.current a {color: #35C5F0;}
.header .nav ul li.current:before {
    content: '';
    margin: 2px 0 0 -4px;
    border-width: 0 4.5px 9px;
    position: absolute;
    top: 73px;
    left: 51px;
    width: 10px; height: 0.5px;
    background: #dbdbdb;
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
}
.header .nav ul li.current:after {
    content: '';
    margin: 2px 0 0 -4px;
    border-width: 0 4.5px 9px;
    position: absolute;
    top: 73px;
    left: 47px;
    width: 10px; height: 0.5px;
    background: #dbdbdb;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    transform: rotate(-70deg);
}
.header .nav ul li a {display: block; font-size: 18px; font-weight: 700; color: #444;}
.header .right {position: static; float: right; padding: 18px 0;}
.header .right .search {position: relative; float: left; padding-right: 5px;}
.header .right .search .search_thing::placeholder {color: #dbdbdb; opacity: 1;}
.header .right .search .search_thing{
    width: 200px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    color: #424242;
    padding: 10px 10px 10px 42px;
    border-radius: 6px;
}
.header .right .search .search_thing:hover {background: #FAFAFA;}
.header .right .search i {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 20px;
    color: #9E9E9E;
}
.header .right a.write {
    float: left;
    display: inline-block;
    width: 74px;
    box-sizing: border-box;
    margin: 5px 5px;
    padding: 4px 0 6px;
    border: 1px solid #35c5f0;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 700;
    color: #09addb;
    text-align: center;
}
.header .right a.write:hover {background: #09addb; color: #fff; transition: 0.3s ease all
}
.header .right button.btn {
    float: left;
    display: none;
    color: #757575;
    text-align: center;
    background: #fff;
}
.header .right button.btn:hover {
    background: #09addb;
    color: #fff;
    transition: background .3s;
    width: 40px; height: 40px;
    border-radius: 100%
}
.header .right button.btn i {
    font-size: 25px;
    font-weight: 700;
    margin: 7px 8.5px 10px;
    color: #757575;
}
.header .right .side {float: left;}
.header .right .side .shopping {float: left; display: inline-block;}
.header .right .side .shopping:hover {
    background: #09addb;
    color: #fff;
    transition: background .3s;
    width: 40px; height: 40px;
    border-radius: 100%;
}
.header .right .side .shopping i {
    font-size: 25px;
    font-weight: 700;
    margin: 7px 8.5px 10px;
    color: #757575;
}
.header .right .side ul {float: left;}
.header .right .side ul li {float: left; padding: 11px 0;}
.header .right .side ul li a {
    display: block; 
    text-align: center; 
    font-size: 15px; font-weight: 500; 
    color: #757575;
    border-right: 1px solid #757575;
    padding: 0 10px;
}
.header .right .side ul li a:hover {color: #09addb}

/* 메뉴 */
.navi {}
.navi .top_menu {display: none; float: left; height: 58px;}
.navi .top_menu.current {display: inherit;}
.navi .top_menu li {
    float: left;
    text-align: center;
    padding: 9px 8px 16px;
    margin: 8px 4px;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}
.navi .top_menu li.active {border-bottom: 1px solid #35c5f0;}
.navi .top_menu li.active a {color: #35c5f0;}
.navi .top_menu li a {}
.navi .download {position: relative; float: right; padding: 9px 0; margin: 8px 0;}
.navi .download a {text-align: center; font-size: 15px; font-weight: 500; color: #757575;}
.navi .download img {position: absolute; top: 11px; left: -25px; width: 20px;}

/* 컨텐츠 */
.section {position: relative;}
.section .cont_in {float: left; position: absolute; top: 450px; left: 11px; width: 66.6%; display: inline-block; padding: 0 30px;}
.section .cont_in .cont_container {width: 100%;}
.section .cont_in .cont_container .cont_row {width: 75.8%; padding: 0 24px;}
.section .cont_in .who h2 {font-size: 30px; font-weight: 700; color: #fff;}
.section .cont_in .who p {float: left; color: #fff;}
.section .cont_in .go a {
    position: absolute;
    bottom: 0;
    right: 54px;
    float: right;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 10px 2px 10px;
    text-align: center;
    border-radius: 6px;
}
.section .cont_in .go a:hover {
    border: 1px solid #35C5F0;
    background: #35C5F0;
    transition: .1s ease all;
}
.section .cont_out {float: left; overflow: hidden; width: 72%; height: 540px; margin: 2% 1%;}
.section .cont_out .cont_out_in {
    width: 100%; height: 100%; 
    background: url(../img/main_left.jpeg) no-repeat center; background-size: cover;
    border-radius: 6px;
}

/* 이벤트 슬라이드 */
.section .event {float: left; overflow: hidden; width: 25%; height: 540px; margin: 2% 0 2% 1%;}
.section .event .event_slide {
    width: 100%; height: 100%; 
    background: url(../img/event2.png) no-repeat center; background-size: cover;
    border-radius: 6px;
}
.section .event .slide {
    width: 100%; height: 100%;
    float: none; margin: 0;
}

/* 아이콘리스트 */
.shortcut {}
.shortcut ul {text-align: center;}
.shortcut ul li {float: left; width: 12.501%;}
.shortcut ul li .list1 {}
.shortcut ul li .list1 a {}
.shortcut ul li .list1 a img {}
.shortcut ul li .list2 {}

/* 리뷰 */
.hoho {position: relative;}
.hoho h2 {font-size: 20px; font-weight: 500; padding-left: 10px;}
.review {position: relative;}
.hoho .more {position: absolute; top: 0; right: 0; padding-right: 10px; font-size: 15px; font-weight: 500; color: #35C5F0;}
.review a {position: relative;}
.review a img {
    border-radius: 6px; margin-bottom: 10px;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.review a:hover img {
    -webkit-transform:scale(1.07);
    -moz-transform:scale(1.07);
    -ms-transform:scale(1.07);   
    -o-transform:scale(1.07);
    transform:scale(1.07);
}
.review a p {
    font-size: 15px; font-weight: 350;
    position: relative; overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	padding: 0 8px 5px 8px;
	max-height: 60px;
}

.review .slick-prev {
    position: absolute; left: 0; top: 130px; 
    z-index: 1000;
    width: 40px; height: 40px; 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-indent: -9999px;
    border-radius: 100%;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
}
.review .slick-prev::before {
    content: "\f053";
    color: #000;
    text-indent: 0;
    position: absolute; left: 16px; top: 14px;
}
.review .slick-prev:hover {
    background: #35C5F0;
}
.review .slick-prev:hover::before {
    color: #fff;
}
.review .slick-next {
    position: absolute; right: 0; top: 130px; 
    z-index: 1000;
    width: 40px; height: 40px; 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-indent: -9999px;
    border-radius: 100%;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
}
.review .slick-next::before {
    content: "\f054";
    color: #000;
    text-indent: 0;
    position: absolute; left: 16px; top: 14px;
}
.review .slick-next:hover {
    background: #35C5F0;
}
.review .slick-next:hover::before {
    color: #fff;
}
.hoho .nextreview {
    width: 100%;
    height: 400px;
    display: none;
}
.hoho .nextreview a {float: left; display: -webkit-flex; -webkit-align-items: center; margin: 10px 10px 0 10px;}
.hoho .nextreview a img {
    width: 40%; float: left; border-radius: 6px;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.hoho .nextreview a:hover img {
    -webkit-transform:scale(1.07);
    -moz-transform:scale(1.07);
    -ms-transform:scale(1.07);   
    -o-transform:scale(1.07);
    transform:scale(1.07);
}
.hoho .nextreview a p {
    width: 60%; 
    float: left;
    font-size: 13px; font-weight: 350;
    position: relative; overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	padding: 0 8px;
}

/* 푸터 */
.footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block; margin: 0 2px;}
.footer_sns li a {display: block; width: 36px; height: 36px;}
.footer_sns li.s1 {background-position: 0 -375px;}
.footer_sns li.s2 {background-position: -36px -375px;}
.footer_sns li.s3 {background-position: -72px -375px;}
.footer_sns li.s4 {background-position: -108px -375px;}
.footer_sns li.s5 {background-position: -144px -375px;}
.footer_sns li.s1:hover {background-position: 0 -411px;}
.footer_sns li.s2:hover {background-position: -36px -411px;}
.footer_sns li.s3:hover {background-position: -72px -411px;}
.footer_sns li.s4:hover {background-position: -108px -411px;}
.footer_sns li.s5:hover {background-position: -144px -411px;}

.footer_info {padding: 20px 0; width: 80%;}
.footer_info h2 p {font-size: 30px; font-weight: 700;}
.footer_info ul {padding: 15px 0;}
.footer_info li {position: relative; display: inline; padding-right: 10px; white-space: nowrap; font-size: 10px;}
.footer_info li:after {content: ''; position: absolute; right: 3px; top: 3px; width: 1px; height: 10px; background: #8f8f8f;}
.footer_info li:last-child:after {width: 0; height: 0;}
.footer_info li a {color: #8f8f8f;}
.footer_info address p {font-size: 10px; color: #8f8f8f; padding-bottom: 15px;}

/* 사이드 메뉴 */
html, body {
width: 100%;
height: 100%;
}

/* Icon */
.bar {position: relative;}

.bar:before, 
.bar:after {
content: "";
position: absolute;
}

.bar:before, 
.bar:after, 
.bar {
width: 23px;
height: 2px;
background: #35C5F0;
display: block;
}

.bar:before { bottom: 9px; } 
.bar:after { top: 9px; } 
.bar.active:after { top: 100%; } 
.bar.active:before { bottom: -100%; } 
.bar.active { background-color: transparent; } 
.bar, .bar:before, .bar:after { -webkit-transition: all .25s linear !important; transition: all .25s linear !important; } 
.bar.active:before,  .bar.active:after { -webkit-transition-delay: .15s !important; transition-delay: .15s !important; } 
.bar.active:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); } 
.bar.active:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); } 

.outside {
position: absolute;
top: 0; left: 0;
width: 70%;
min-width: 250px;
max-width: 360px;
min-height: 100%;
-webkit-transform: translateX(-101%);
        transform: translateX(-101%);
-webkit-transition: all .5s cubic-bezier(0,0.05,0,1.3);
transition: all .5s cubic-bezier(0,0.05,0,1.3);
overflow: hidden;
z-index: 9999;
}

.in {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-transition: 0;
transition: 0;
}

.inside {
position: absolute;
top: 0;
bottom: 0;
margin: auto;
display: block;
width: 100%;
height: 100%;
background: #fff;
border-right: 1px solid rgba(255,255,255,0.2);
border-radius: 0 100% 100% 0;
-webkit-transition: all .25s cubic-bezier(1,0.05,1,1.5);
transition: all .25s cubic-bezier(1,0.05,1,1.5);
-webkit-transition-delay: .5s;
        transition-delay: .5s;
}

.in .inside {
border-radius: 0;
-webkit-transition-delay: 0s;
        transition-delay: 0s;
overflow: hidden;
z-index: 9999;
}

/* material animation */
.inside:before {
content: "";
width: 2100px;
height: 2100px;
display: block;
background-color: white;
position: absolute;
    top: -50%;
    left: -100%;
    z-index: -1;
-webkit-transition: all .75s linear;
transition: all .75s linear;
-webkit-transition-delay: .15s;
        transition-delay: .15s;
-webkit-transform: scale(0);
        transform: scale(0);
-webkit-transform-origin: top right;
        transform-origin: top right;
border-radius: 1000px;}

.outside.in .inside:before {
-webkit-transform: scale(1);
        transform: scale(1);

}

/* Menu */
ul.menu {
list-style: none;
margin: 0;
padding: 0;
line-height: 2;
}

.menu li {
padding: 7px;
border-bottom: 1px solid rgba(255,255,255,.5);
-webkit-transition: all .25s linear;
transition: all .25s linear;
}

.in .menu li {
-webkit-transform: translateX(0%);
        transform: translateX(0%);
opacity: 1;
}

.in .menu li:nth-child(1) { -webkit-transition-delay: 1s; transition-delay: 1s; } 
.in .menu li:nth-child(2) { -webkit-transition-delay: 1.15s; transition-delay: 1.15s; } 
.in .menu li:nth-child(3) { -webkit-transition-delay: 1.25s; transition-delay: 1.25s; } 
.in .menu li:nth-child(4) { -webkit-transition-delay: 1.35s; transition-delay: 1.35s; } 
.in .menu li:nth-child(5) { -webkit-transition-delay: 1.45s; transition-delay: 1.45s; } 
.in .menu li:nth-child(6) { -webkit-transition-delay: 1.55s; transition-delay: 1.55s; } 
.in .menu li:nth-child(7) { -webkit-transition-delay: 1.65s; transition-delay: 1.65s; } 

/* Generated with Bounce.js. Edit at https://goo.gl/zdjCb0 */

@-webkit-keyframes bounce { 
 0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); }
  29.73% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.785, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.785, 0, 0, 1); }
  31.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.659, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.659, 0, 0, 1); }
  33.06% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -23.527, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -23.527, 0, 0, 1); }
  34.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -30.089, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -30.089, 0, 0, 1); }
  36.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -18.067, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -18.067, 0, 0, 1); }
  39.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.115, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.115, 0, 0, 1); }
  42.09% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.347, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.347, 0, 0, 1); }
  46.79% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.013, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.013, 0, 0, 1); }
  49.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.316, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.316, 0, 0, 1); }
  54.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); }
  57.27% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.643, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.643, 0, 0, 1); }
  62.05% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.007, 0, 0, 1); }
  64.86% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.178, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.178, 0, 0, 1); }
  69.64% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); }
  72.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.049, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.049, 0, 0, 1); }
  77.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.014, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.014, 0, 0, 1); }
  84.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, 0, 0, 1); }
  92.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
.in .inside .in_out {text-align: center; padding: 0 0 15px 0;}
.in .inside .in_out img {width: 25%;}
.in .inside .download {position: absolute; top: 20px; right: 15px; padding: 9px 0;}
.in .inside .download a {text-align: center; font-size: 12px; font-weight: 500; color: #757575;}
.in .inside .download img {position: absolute; top: 11px; left: -25px; width: 20px;}
.in .inside .log_down {text-align: center; padding-bottom: 22px; border-bottom: 1px solid #dbdbdb;}
.in .inside .log_down a {
    display: inline-block;
    width: 44%;
    box-sizing: border-box;
    margin: 5px 5px;
    padding: 8px 0 8px;
    border: 1px solid #35c5f0;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 700;
    color: #09addb;
    text-align: center;
}
.in .inside .log_down .join {
    color: #fff;
    background: #35c5f0;
}
.in .inside .menus {}
.in .inside .menus .side_cont {position: relative;}
.in .inside .menus .side_cont ul {display: none; padding-top: 13px;}
.in .inside .menus .side_cont.action ul {display: block;} /*효과주기 아직 안됨;*/
.in .inside .menus .side_cont li {padding: 7px; color: #424242; font-size: 14px; font-weight: 700;}
.in .inside .menus .side_cont li.action {color: #35c5f0;}
.in .inside .menus i {padding: 0 10px; font-size: 18px; font-weight: 500; color: #424242;}
.in .inside .menus em {font-size: 18px; font-weight: 500; color: #424242;}
.in .inside .menus .action em {color: #35c5f0;}
.in .inside .menus p {position: absolute; top: 22px; right: 15px; width: 10px; height: 10px;}
.in .inside .menus p.i1 {background-position: -40px -120px;}
.in .inside .menuu {padding: 13px 0;}

/* member.html */
/* section1 */
.section1 {display: inline-block;}
.section1 img {width: 50%;}
.section1 .page-wrapper p {font-size: 25px; font-weight: 600; padding-top: 20px;}
.section1 .member1 {position: relative; float: left; width: 33.3333%;}
.section1 .member2 {position: relative; float: left; width: 33.3333%;}
.section1 .member3 {position: relative; float: left; width: 33.3333%;}

.page-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40% 0;
}

.blur-it {
  filter: blur(4px);
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 65%;
  height: 60%;
  display: block;
  margin: 50% 0 0 -22%;
  position: relative;
  top: 35%; 
  left: 40%;
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 100%;
  height: 7%;
  overflow: hidden;
  background: #e2525c;
}

.btn-close {
    padding-right: 10px;
  font-size: 25px;
  display: block;
  float: right;
  color: #fff;
}

.content {
  padding: 10%;
}

.good-job {
  text-align: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #e2525c;
}
.good-job .fa-thumbs-o-up {
  font-size: 60px;
}
.good-job h1 {
  font-size: 45px;
}

#bodymovin {
  width: 300px;
  height: 300px;
  display: block;
  display: flex;
  align-items: flex-end;
}

svg {
  width: 100%;
  height: auto !important;
}

/* 미디어 쿼리 */
@media (max-width: 1290px) {
    .container {width: 100%;}
}
@media (max-width: 1024px) {
    #section {height: 440px;}
    .row {padding: 0 15px;}
    .header .right button.btn {display: block;}
    .header .right .search {display: none;}
    
    .section .cont_in {top: 345px;}
    .section .cont_in .go a {bottom: 20px; width: 85px;}
    .section .cont_in .who h2 {font-size: 25px;}
    .section .cont_out {height: 440px;}
    .section .event {height: 440px;}
}
@media (max-width: 785px) {
    #mNav {display: block;}
    #header {height: 60px;}
    .row {padding: 0;}
    .header .logo {float: none;}
    .header .logo h1 {text-align: center;}
    .header .logo h1 a em {padding: 8px 0;}
    .header .logo h1 a em img {width: 90px;}
    .header .right {padding: 10px 0;}
    .header .nav {display: none;}
    .header .right {position: absolute; top: 0; right: 10px;}
    .header .right a.write {display: none;}
    .header .right .side ul {display: none;}
    .header .right button.btn i {font-weight: 300;}
    .header .right .side .shopping i {font-weight: 300;}
    
    #nav {height: 50px;}
    .navi {text-align: center; overflow-x: auto;}
    .navi .top_menu {float: none;}
    .navi .top_menu li {float: none; display: inline-block; padding: 13.5px 7px; margin: 0; font-size: 13px; }
    .navi .download {display: none;}
    
    .section .cont_out {float: none; width: 100%; margin: 0;}
    .section .cont_out .cont_out_in {border-radius: 0;}
    .section .cont_in {top: 180px; width: 85%; padding: 0;}
    .section .cont_in .who p {display: none;}
    .section .cont_in .go {padding: 10px 0 0 24px;}
    .section .cont_in .go a {position: static; float: left; height: 25px; padding: 5px 10px 2px 10px;}
    .section .event {width: 100%; height: auto; margin: 0;}
    .section .event .event_slide {display: none;}
    
    .shortcut ul li {width: 25%; padding-bottom: 20px;}
    
    .hoho {padding: 15px;}
    .hoho .review {display: none;}
    .hoho .nextreview {display: inline-block; height: auto;}
    .hoho .nextreview a {margin: 10px 0;}
    .hoho .more {
        position: static;
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        background: #f5f5f5;
        color: #424242;
        padding: 17px 0;
    }
    
    .footer_sns {position: static; text-align: center; background: #ededed; padding-bottom: 15px;}
    .footer_sns .tel {display: none;}
    .footer_info {width: 100%; text-align: center;}
    
    .section1 .member1 {width: 100%;}
    .section1 .member2 {width: 100%;}
    .section1 .member3 {width: 100%;}
    .page-wrapper {padding: 20px 0;}
}
@media (max-width: 430px) {
    .in .inside .download {top: 12px;}
    .in .inside .download a {font-size: 10px;}
}