@value makerLightGreen, makerYellow, makerBlack, makerLightYellow from '../../common/colors.css';

.select {
  background-color: makerLightGreen;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.button {
  margin-right: 2em;
  font-size: 0.9rem;
  background: none;
  color: makerBlack;
  outline: 0;
  border-left: 1px solid makerBlack;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}
