@value makerWheat, makerColorful, makerBlack, makerWhite, makerShadow, makerLightCyan, makerLightSalmon, makerLightBlue from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 8px 0px makerShadow;
  max-width: 30rem;
  cursor: pointer;
}

.card.weird {
  border: 8px double;
  background-clip: padding-box;
  border-color: white;
  border-image-outset: 31px;
  border-image-width: auto;
  border-image: url(http://content.mycutegraphics.com/borders/wavy-border.png)
    100 round;
}

.card.round {
  border-radius: 1em;
}

.card.stick {
  position: relative;
}

.card.stick::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 100px solid makerWhite;
  border-right: 100px solid transparent;
}

.card.stick::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 100px solid makerWhite;
  border-left: 100px solid transparent;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
}

.card.salmon {
  background-color: makerLightSalmon;
  color: makerBlack;
}

.card.blue {
  background-color: makerLightBlue;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
  z-index: 1;
}

.info {
  width: 100%;
  z-index: 1;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}
