@value makerWheat, makerColorful, makerBlack, makerWhite, makerShadow, makerLightCyan, makerLightSalmon, makerBlue, makerWood, makerGold from '../../common/colors.css';
@value mobileQuery from '../../common/size.css';

.groupcard {
  display: inherit;
  border-bottom: 1px solid #e4e4e4;
  padding: 0.8em 0;
  cursor: pointer;
}

.groupcard:first-child {
  padding-top: 0;
  padding-bottom: 0.8em;
}

.card {
  display: flex;
  align-items: center;
  width: 20em;
  height: 11em;
  padding: 0.2em 0;
  box-shadow: 0px 0px 15px 0px makerShadow;
  max-width: 25rem;
  margin-right: 1em;
}
.card:last-child {
  margin-right: 0;
}

.card.simple {
  align-items: baseline;
  width: 11em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card.simple .name {
  font-size: 1.1em;
}

.card.simple .position {
  margin: 0;
  font-size: 0.8em;
}

.card.simple .intro {
  padding: 2em 0;
}

.card.simple .number {
  padding: 2em 0;
}

.card.simple .content {
  padding: 2em 0;
  margin: 0;
  float: none;
}

.card.round {
  border-radius: 1em;
}

.card.stick {
  position: relative;
}

.card.stick::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 100px solid makerWhite;
  border-right: 100px solid transparent;
}

.card.stick::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 100px solid makerWhite;
  border-left: 100px solid transparent;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
}

.card.salmon {
  background-color: makerLightSalmon;
  color: makerBlack;
}

.card.blue {
  background-color: makerBlue;
  color: makerWhite;
}

.card.gold {
  background-color: makerGold;
  color: makerWhite;
}

.card.wood {
  background-color: makerWood;
  color: makerWhite;
}

.avatar {
  width: 6em;
  height: auto;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  z-index: 1;
}

.front {
  width: 100%;
  z-index: 1;
}

.front .content {
  margin: 0.5em 0.5em 0 0;
  float: right;
}

.back {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back .message {
  font-weight: 800;
  font-size: 1em;
  max-width: 80%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 2px;
  border-bottom: 2px solid makerGold;
}

.name,
.company,
.comnumber,
.address,
.number,
.fax,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.5rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 0.9rem;
}

.name .position {
  font-size: 0.2em;
}

.address {
  margin-bottom: 1em;
}

.address::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}

@media screen and (max-width: mobileQuery) {
  .avatar {
    width: 9em;
    height: 9em;
  }

  .name {
    font-size: 1rem;
  }

  .company,
  .title,
  .email,
  .message {
    font-size: 0.6rem;
  }
}
